body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
height: 5em;
padding: 5em;
margin: 2em;
border: dotted 3px pink;
font-size: 1.5em;
font-style: italic;
text-align: left;
color:black;
background-image: url("../imgs/logo.png");
background-size: 10em;
background-position: right;
background-repeat: no-repeat;
}
.products {
    background-color: rgb(253, 245, 216);
    width: 90%;
    margin:auto;
    }
    .products td {
    width: 50%;
    padding: 2em;
    }
    .products img {
    width: 100%;
    border: solid 1px #dddddd;
    }
.footer {
    height:3em;
    line-height:3em;
    background-color: pink;
    color:beige;
    text-align: center;
    font-weight: 900;
}